@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.App {
  text-align: center;
}

.App-header {
  background-color: #ccfded;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #337689;
}

.cell, .blockedCell, .gateHoriCell, .gateVertCell, .gateNumberCell, .startCell {
  border: 0.1px rgb(0, 0, 0) solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockedCell {
  background-color: black;
}

.cellTextstart {
  height: max-content;
  width: 80%;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 50%;
}


.startCell {
  background-color: rgba(140, 255, 157, 0.549);
}

.gateHoriCell {
  background: repeating-linear-gradient(
  to right,
  #000,
  #000 2px,
  transparent 2px,
  transparent 4px
) no-repeat center/100% 2px;
}

.gateVertCell{
  background: repeating-linear-gradient(
    to bottom,
    #000,
    #000 2px,
    transparent 2px,
    transparent 4px
  ) no-repeat center/2px 100%;
}


.vert--line {
  content:"";
  z-index: -1;
  border-left: 4px solid #358864;
  border-radius: 1px;
  height: 102%;
  transform: translate(50%);
}

.hori--line {
  content:"";
  z-index: -1;
  border-top: 4px solid #358864;
  border-radius: 1px;
  width: 102%;
  position: relative;
  top: 50%;
  
}


.hori--line--hitbox {
  z-index: 10;
  text-align: center;
  cursor: pointer;
}

.vert--line--hitbox {
  z-index: 10;
  text-align: center;
  cursor: pointer;
}




.controlButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
}


#controls {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.num {
  width: 48;
  height: 48;
  border: 2px solid rgb(21, 0, 255);
  justify-content: center;
  margin: auto;
}