.App {
  text-align: center;
}

.App-header {
  background-color: #010b1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 104, 10);
}

.App-link {
  color: #337689;
}

.cell {
  border: 0.1px rgb(0, 0, 0) solid;
  box-sizing: border-box;
}

.vert--line {
  content:"";
  z-index: -1;
  border-left: 2px solid #ff0000;
  height: 100%;
  display: block;
  transform: translate(50%);
}

.hori--line {
  content:"";
  z-index: -1;
  border-top: 2px solid #0000ff;
  width: 100%;
  display: block;
  position: relative;
  top: 50%;
  
}


.hori--line--hitbox {
  z-index: 10;
  text-align: center;
}

.vert--line--hitbox {
  z-index: 10;
  text-align: center;
}


.Grid {
  background-color: rgb(202, 165, 191);
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}




#controls {
  width: 90%;
  height: 50px;

  background-color: yellow;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.num {
  width: 48;
  height: 48;
  border: 2px solid rgb(21, 0, 255);
  justify-content: center;
  margin: auto;
}